// Menu wrapper
.menu-list {
    width: 224px;
    padding: 8px 0;
}

.menu-body {
    overflow-y: auto;
}

.menu-item {
    width: 100%;
    padding: 11px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

// Header
.header {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 1.6rem;
}
